# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Download Znap, if it's not there yet.
[[ ! -d ~/.znap-repos/znap ]] && git clone --depth 1 -- https://github.com/marlonrichert/zsh-snap.git ~/.znap-repos/znap
source ~/.znap-repos/znap/znap.zsh  # Start Znap

export DOTFILES=$HOME/.dotfiles

source $DOTFILES/zsh/exports.zsh && \
source $DOTFILES/zsh/plugins.zsh

. $HOMEBREW_PREFIX/etc/profile.d/z.sh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
source $HOMEBREW_PREFIX/share/powerlevel10k/powerlevel10k.zsh-theme

source $DOTFILES/zsh/keybindings.zsh
source $DOTFILES/zsh/styles.zsh
source $DOTFILES/zsh/aliases.zsh
source $DOTFILES/zsh/options.zsh

# NVM_DIR is set in ./exports.zsh
. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh"
. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm"

source $DOTFILES/zsh/functions.zsh
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# pnpm
export PNPM_HOME="{{ .chezmoi.homeDir }}/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

fpath+=~/.zfunc; autoload -Uz compinit; compinit

zstyle ':completion:*' menu select
