"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fbd4248e-5f93-468c-8f06-1d0020110b7e"
    html:
      beautify_on_save: true
    jade:
      beautify_on_save: true
    js:
      beautify_on_save: true
      break_chained_methods: true
      space_after_anon_function: true
    json:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
    sass:
      disabled: true
    scss:
      disabled: true
  core:
    disabledPackages: [
      "merge-conflicts"
    ]
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".DS_Store"
      ".keep"
      "._*"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    invisibles:
      cr: "↩"
      eol: " "
      tab: "⇥"
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
  "exception-reporting":
    userId: "930b0e89-fa64-58fa-2074-827e30ebef0c"
  linter: {}
  "linter-eslint":
    eslintrcPath: "~"
  "linter-ui-default": {}
  "one-light-ui":
    fontSize: 14
  "open-terminal-here":
    command: "open -a iTerm.app \"$PWD\""
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#484b54"
        blue: "#4078f2"
        cyan: "#50a14f"
        green: "#50a14f"
        magenta: "#a62ea4"
        red: "#e45649"
        white: "#c7c7c7"
        yellow: "#dab148"
      zBright:
        brightBlack: "#000000"
        brightBlue: "#4078f2"
        brightCyan: "#50a14f"
        brightGreen: "#50a14f"
        brightMagenta: "#b02fa4"
        brightRed: "#e45649"
        brightYellow: "#efc65a"
    core:
      mapTerminalsTo: "Folder"
      mapTerminalsToAutoOpen: true
      workingDirectory: "Active File"
    style: {}
  "spell-check": {}
  "terminal-plus":
    core:
      workingDirectory: "Active File"
    style:
      theme: "inverse"
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
