"*":
  core:
    disabledPackages: [
      "merge-conflicts"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    useCustomTitleBar: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    invisibles:
      cr: "↩"
      eol: " "
      tab: "⇥"
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
  "exception-reporting":
    userId: "930b0e89-fa64-58fa-2074-827e30ebef0c"
  "linter-eslint":
    eslintrcPath: "~"
  "one-light-ui":
    fontSize: 14
  welcome:
    showOnStartup: false
