{
  "hooks": {
    "Notification": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "PostToolUse": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "PreCompact": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "PreToolUse": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "SessionStart": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "Stop": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "SubagentStop": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ],
    "UserPromptSubmit": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.go/bin/claudio"
          }
        ]
      }
    ]
  },
  "enabledPlugins": {
    "superpowers@superpowers-marketplace": true,
    "chrome-devtools-mcp@chrome-devtools-plugins": true
  },
  "effortLevel": "medium"
}
